<div class="footer">

    <p class="foot_button">
      <button class="btn btn-outline-danger btn"> <a href="/contact" class="foot-href" >Contact us</a></button>
      <button class="btn btn-outline-danger btn"> <a href="/" class="foot-href" >Event Updates</a></button>
    </p>

    <p>
      <hr />Eventista<hr />
    </p>

    <p>Copyright 2021 © Eventista Pvt.Ltd. All Rights Reserved.</p>

  </div>

  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="https://unpkg.com/flickity@2/dist/flickity.pkgd.min.js"></script>
</body>
</html>